@font-face {
    font-family: 'JuliaMono';
    src: url('./fonts/JuliaMono-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'JuliaMono', sans-serif;
}

.name {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: #00e5ff;
    text-shadow: 0 0 5px #00e5ff, 0 0 10px #00e5ff, 0 0 15px #00e5ff;
}

.middle-name {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff;
}

.lastname {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: #ffff00;
    text-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00;
}

.last-lastname {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

.profile {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    color: #ffffff;
}